*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#070707;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

}

.bg{

position:absolute;

width:100%;

height:100%;

background:

radial-gradient(
circle,
rgba(255,0,0,.18),
transparent
);

}

.container{

width:100%;

max-width:400px;

padding:25px;

position:relative;

z-index:2;

}

.logo{

text-align:center;

margin-bottom:40px;

}

.logo h1{

font-size:60px;

color:white;

}

.logo span{

color:#ff1616;

}

.logo p{

margin-top:8px;

color:#aaa;

font-size:14px;

}

.card{

background:#121212;

padding:30px;

border-radius:25px;

border:1px solid #2d2d2d;

box-shadow:

0 0 60px rgba(255,0,0,.15);

}

.card h2{

color:white;

margin-bottom:10px;

}

.sub{

color:#777;

margin-bottom:25px;

}

button{

width:100%;

height:60px;

border:none;

border-radius:18px;

font-size:18px;

cursor:pointer;

margin-top:14px;

transition:.3s;

}

#login{

background:

linear-gradient(
90deg,
#ff0000,
#b90000
);

color:white;

}

#login:hover{

transform:translateY(-2px);

}

.outline{

background:transparent;

color:white;

border:

1px solid #ff1b1b;

}

.outline:hover{

background:#ff1616;

}

.footer{

margin-top:25px;

color:#666;

font-size:12px;

text-align:center;

}
